{
  "env": {
    "browser": true,
    "es2020": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended",
    "plugin:import/recommended",
    "plugin:jsx-a11y/recommended",
    "plugin:@typescript-eslint/recommended",
    "eslint-config-prettier",
    "plugin:prettier/recommended"
  ],
  "ignorePatterns": [
    "dist",
    "node-modules",
    ".eslintrc",
    "test-utils.tsx",
    "*.hbs"
  ],
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "react-refresh"
  ],
  "root": true,
  "rules": {
    "curly": ["error", "all"],
    "@typescript-eslint/no-unused-vars": [
      "error",
      {
        "vars": "all",
        "args": "after-used",
        "ignoreRestSiblings": true,
        "argsIgnorePattern": "^_",
        "varsIgnorePattern": "[iI]gnored"
      }
    ],
    "indent": [
      "error",
      "tab",
      {
        "ObjectExpression": 1
      }
    ],
    "react-refresh/only-export-components": [
      "warn",
      {
        "allowConstantExport": true
      }
    ],
    "react/function-component-definition": [
      2,
      {
        "namedComponents": "arrow-function",
        "unnamedComponents": [
          "function-expression",
          "arrow-function"
        ]
      }
    ],
    "react/react-in-jsx-scope": "off",
    "react/require-default-props": "off",
    "semi": [
      "error",
      "always"
    ],
    "quotes": [
      "error",
      "single",
      {
        "avoidEscape": true,
        "allowTemplateLiterals": true
      }
    ],
    "import/order": ["error", {
      "groups": [ "builtin", "external", "internal", "parent", "sibling", "index" ],
      "pathGroups": [
        {
          "pattern": "@/**",
          "group": "external",
          "position": "after"
        }
      ],
      "newlines-between": "never",
      "alphabetize": { "order": "asc" }
    }],
    "import/extensions": [
      "error",
      "ignorePackages",
      {
        "js": "never",
        "jsx": "never",
        "ts": "never",
        "tsx": "never"
      }
    ],
    "import/newline-after-import": ["error", { "count": 1 }],
    "jsx-a11y/no-autofocus": "off"
  },
  "settings": {
    "react": {
      "version": "detect"
    },
    "import/resolver": {
      "alias": {
        "map": [
          ["@", "./src"]
        ],
        "extensions": [".ts", ".tsx", ".js", ".jsx", ".json"]
      },
      "node": {
        "paths": [
          "src",
          "public"
        ],
        "extensions": [
          ".js",
          ".jsx",
          ".ts",
          ".tsx"
        ]
      }
    }
  }
}